html,
#site-header,
#mobile-menu {
  background: #fff;
}
body,
button,
input,
select,
textarea,
a {
  color: #000;
  font-family: "Open Sans", sans-serif;
}
a {
  border-bottom: 3px solid transparent;
}
a:hover {
  border-bottom: 3px solid #fe5185;
  color: #333;
}
#home-title {
  font-size: 1.6em;
}
h1,
h2,
h3,
.next-post,
.prev-post,
.site-branding a,
.post-year,
.post-day,
.post-info,
.tag a {
  font-family: "Unica One", cursive;
}
pre,
pre code {
  background: #7d828a;
}
.content a:hover {
  background-color: #fe5185;
  box-shadow: inset 0 -4px 0 #fe5185;
}
.content a {
  word-wrap: break-word;
  border: none;
  box-shadow: inset 0 -4px 0 #fe5185;
  transition-property: background-color;
}
.content a.anchor:hover {
  color: #fe5185;
}
.post-info a:hover {
  border-bottom: 1px solid #fe5185;
}
.posts-group .post-item {
  border-bottom: 1px dashed #eee;
}
.pagination {
  display: inline-flex;
  list-style: none;
  width: 100%;
}
.page-item {
  margin: auto;
  padding: 1em;
}
